# Ignorar la carpeta pesada de audios
audios/

# Ignorar los archivos originales pesados (Documentos, Imágenes, Audios)
*.pdf
*.doc
*.docx
*.png
*.jpg
*.jpeg
*.gif
*.m4a
*.mp3
*.mp4

# Ignorar el entorno virtual de Python
.venv/
__pycache__/
*.pyc

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
